[Unit]
Description=Telegram
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/nodejs/konkursbot
ExecStart=npm run dev
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
Alias=script.service
